{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Engine</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
    <h1 id="status-title"></h1>
    <p id="status-subtitle"></p>
    </header>
    <div id="game-area">
        <div id="captured-black"  class="captured"></div>
        <div id="board-wrapper">
            <div id="board-with-ranks">
                <div id="rank-labels" class="label-column"></div>
                <div id="board"></div>
            </div>
            <div id="file-labels" class="label-row"></div>
        </div>
        <div id="game-setup">
            <div class="setup-row">
                <button id="white">White</button>
                <button id="random">Random</button>
                <button id="black">Black</button>
            </div>
            <div class="setup-row">
                <button id="confirm">Confirm</button>
            </div>
            <div class="setup-row">
                <button id="local">Play locally</button>
            </div>
        </div>        
        <div id="promotion-dialog" class="hidden">
            <button id="promo-queen">♕</button>
            <button id="promo-rook">♖</button>
            <button id="promo-bishop">♗</button>
            <button id="promo-knight">♘</button>
        </div>
        <div id="captured-white" class="captured"></div>
    </div>
    <script src="{% static 'board.js' %}"></script>

</body>

</html>